@{
    Layout = null;
}
<h4>Thank you for registering!</h4>
<div>
    A registration confirmation eamil was sent to the email address provided. 
    Your registration will be sent for approval and activation to the Administratior. 
    <span class="font-weight-bold">You will receive an email when your account is ready to use.</span>
</div>
